<h1>Your listing likes</h1>

<% @apartments.each_slice(3) do |three_apartments| %>
  <div class="row">
    <% three_apartments.each do |apartment|%>
      <div class="col-md-4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img style="width:100%;" class="activator" src="<%= apartment.pic %>">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= apartment.address %><i class="material-icons right">more info..</i></span>
            <p style="display:inline;"><a target="_blank" href="https://www.zillow.com<%= apartment.link %>">Make offer</a></p>
            <p style="display:inline; float: right;"><a href="/remove_listing/<%= apartment.id %>">Remove</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= apartment.address %><i class="material-icons right">close</i></span>
            <p>Rent: <%= apartment.rent %></p>
            <p>SqFt: <%= apartment.sqft %></p>
            <p>Baths: <%= apartment.baths %></p>
            <p>Beds: <%= apartment.bedrooms %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>