<!DOCTYPE html>
<html>
  <head>
    <title>DwellingSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/listings" class="brand-logo">Apartments.filter</a>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><a href="/listing_likes">My Apartments</a></li>
          <% end %>
          <% if !current_user %>
            <li><a href="/login">Login</a></li>
          <% else %>
            <li><a href="/logout">Logout</a></li>
          <% end %>
        </ul>

        <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
          <li><a href="#">Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message.html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
